@import "tailwindcss";

:root {
  /* رنگ اصلی و برند */
  --primary: rgb(172, 145, 212); /* بنفش تیره مدرن */
  --accent: #5C52C7; /* بنفش روشن و جذاب برای تاکید */

  /* رنگ‌های پس‌زمینه */
  --secondary: #ebeaed; /* خیلی روشن، ملایم و مدرن */
  --light: #ffffff; /* سفید خالص برای فضای باز */
  --background: #f8f9ff; /* زمینه اصلی سایت */

  /* رنگ متن و محتوا */
  --foreground: #1f1f3a; /* خاکستری تیره، قابل خواندن */
  --text-muted: #cbcbcb; /* متن فرعی / توضیحات */
}

html {
  font-family: "Vazir", sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--foreground);
}

.card-hover-info {
  pointer-events: none;
}
.card:hover .card__img--hover {
  height: 100%;
}
