@import "tailwindcss";

:root {
  /* رنگ اصلی و برند */
  --primary: #5c6ac4; /* بنفش تیره مدرن */
  --accent: #7f5af0; /* بنفش روشن و جذاب برای تاکید */

  /* رنگ‌های پس‌زمینه */
  --secondary: #f0f0ff; /* خیلی روشن، ملایم و مدرن */
  --light: #ffffff; /* سفید خالص برای فضای باز */
  --background: #f8f9ff; /* زمینه اصلی سایت */

  /* رنگ متن و محتوا */
  --foreground: #1f1f3a; /* خاکستری تیره، قابل خواندن */
  --text-muted: #6b6b8c; /* متن فرعی / توضیحات */
}

html {
  font-family: "Vazir", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
