@import "tailwindcss";

:root {
  /* رنگ اصلی و برند */
  --primary: #6162c7; /* بنفش تیره مدرن */
  --accent: #992dc4; /* بنفش روشن و جذاب برای تاکید */

  /* رنگ‌های پس‌زمینه */
  --secondary: #ebeaed; /* خیلی روشن، ملایم و مدرن */
  --light: #ffffff; /* سفید خالص برای فضای باز */
  --background: #8e78c9; /* زمینه اصلی سایت */

  /* رنگ متن و محتوا */
  --foreground: #1f1f3a; /* خاکستری تیره، قابل خواندن */
  --text-muted: #cbcbcb; /* متن فرعی / توضیحات */
}

html {
  font-family: "Vazir", sans-serif;
}

body {
  background-image: linear-gradient(90deg, var(--background), var(--primary));
  color: var(--foreground);
}

.card-hover-info {
  pointer-events: none;
}
.card:hover .card__img--hover {
  height: 100%;
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(102, 126, 234, 0.2);
}

.map-container {
  background: linear-gradient(
    135deg,
    rgba(102, 126, 234, 0.1),
    rgba(118, 75, 162, 0.1)
  );
  border: 2px dashed #667eea;
}
